{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load l10n %}
{% static "" as baseUrl %}

<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md header-light ">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <span>{% trans 'Transkribus' %}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" href="{{base_path}}#home">{% trans 'Projects' %}</a>
                    <ul class="sub_menu">
                        <li>
                            <a href="https://read.transkribus.eu/" target="_plain">{% trans 'READ - Project' %}</a>
                        </li>
                        <li>
                            <a href="https://learn.transkribus.eu" target="_plain">{% trans 'LEARN - Project' %}</a>
                        </li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#institutions">{% trans 'Institutions' %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#about">{% trans 'About' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#services">{% trans 'Services' %}</a>
                     <ul class="sub_menu">
                        <li>
                            <a href="https://transkribus.eu/TrpServer/rest/downloadLatestGui" target ="_plain">{% trans 'Download GUI' %}</a>
                        </li>
                         <li>
                            <a href="https://transkribus.eu/TrpServer/rest/downloadLatestGui?packageType=mac" target ="_plain">{% trans 'Download GUI for MAC' %}</a>
                         </li>
                         <li>
                            <a href="https://transkribus.eu/wiki/index.php/Main_Page" target ="_plain">{% trans 'Wiki' %}</a>
                         </li>
                         <li>
                            <a href="https://transkribus.eu/wiki/images/7/77/How_to_use_TRANSKRIBUS_-_10_steps.pdf" target ="_plain">{% trans 'How-to guide (pdf)' %}</a>
                         </li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#blog">{% trans 'Latest News' %}</a>
                     <ul class="sub_menu">
                        {% for b in blogs %}
                         <li>
                            <a href="{{base_path}}#blog" onclick="select_act_blog({{forloop.counter0}}, {{b.blog.pk}})">{{b.title}} ({{b.changed}})</a>
                         </li>
                        {% endfor %} 
                     </ul>   
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#documents">{% trans 'Documents' %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#videos">{% trans 'Videos' %}</a>
                     <ul class="sub_menu">
                        <li>
                            <a target="_plain" href="https://www.youtube.com/channel/UC-txVgM31rDTGlBnH-zpPjA">{% trans 'Youtube-channel' %}</a>
                        </li>
                    </ul>
                    
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#calendar">{% trans 'Calendar' %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="{{base_path}}#contact">{% trans 'Contact us' %}</a>
                </li>
		{% with user=request.user %}
                <li class="nav-item">
                    <a class="nav-link">{% trans 'Account' %}</a>
                    {% if user.is_authenticated %}
                     <ul class="sub_menu">
                        <li>
                            <a href="#">
                            {{ user.first_name }} {{ user.last_name }}
                                ({{ user.username }})
                            </a>
                        </li>
                        
                         {% if user.is_superuser   %} 
                            <li><a href="start_admin">{% trans 'Administrator' %}</a></li>
                        {% endif %}
                        
                         <li>
                            <a class="nav-link " data-toggle="modal" data-target="{{base_path}}#modifyAccountModal" href="{{base_path}}#">{% trans 'Modify Account' %}</a>
                        </li>
                        <li><a href="logout">{% trans 'Logout' %}</a></li>
                        
                     </ul>
                     {% else %}
                    <ul class="sub_menu"> 
                        <li>
                            <a class="nav-link " data-toggle="modal" data-target="#createAccountModal" href="#">{% trans 'Register' %}</a>
                        </li>
                            
                        <li>
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#login_modal">{% trans 'Login' %}</a>
                        </li>
                                
                    </ul>
                     {% endif %}
                </li>
                {% endwith %} 
                <li class="nav-item">
                    <a class="nav-link" href="#">{{LANGUAGE_CODE}} </a>
                    <ul class="sub_menu">
                        {% for language in languages %}
                            {% if language.code == LANGUAGE_CODE %}
                                <li>X<span class="glyphicon glyphicon-ok check_left"></span> &nbsp; <span class="">{{ language.name_local }}</span></li>
                            {% else %}
                                <li><a href="change_lang?lang={{language.code}}"><span class="check_left"> &nbsp;</span>{{ language.name_local }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

{% include "home/modals/login.html" %} 
{% include "home/modals/register.html" %} 
{% include "home/modals/modifyaccount.html" %} 
