<!-- Impressum Modal -->
<div class="modal fade" id="impressumModal" tabindex="-1" role="dialog" aria-hidden="true"
     style="display: none; padding-left: 15px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="impressum">Impressum</h4>
            </div>
            <div class="modal-body">
                <h4>Disclaimer</h4>
                <p>Offenlegung nach § 25 des österreichischen Mediengesetzes</p>
                <h4>Medieninhaber</h4>
                <p>Leopold-Franzens-Universität Innsbruck</p>
                <h4>Herausgeber und verantwortlich für den Inhalt</h4>
                <p>Digitalisierung und elektronische Archivierung – DEA<br/>
                    Universität Innsbruck<br/>
                    Innrain 52 – 6020 Innsbruck – Österreich<br/>
                    Telefon: ++43-(0)512-507-8451<br/>
                    E-Mail: <a href="mailto:email@transkribus.eu">email@transkribus.eu</a></p>
                <h4>Webmaster</h4>
                <p>Digitalisierung und elektronische Archivierung – DEA<br/>
                    Universität Innsbruck<br/>
                    Innrain 52 – 6020 Innsbruck – Österreich<br/>
                    Telefon: ++43-(0)512-507-8451<br/>
                    E-Mail: <a href="mailto:email@transkribus.eu">email@transkribus.eu</a></p>
                <p>Umsatzsteueridentifikationsnummer (UID) der Universität Innsbruck: ATU57495437</p>
                <p>Die Universität ist laut Universitätsgesetz 2002 von der Umsatzsteuer befreit.</p>

                <p>Die Inhalte der Webseiten von http://transkribus.eu/ wurden sorgfältig geprüft und bearbeitet. Dessen ungeachtet kann keine Garantie für die Richtigkeit, Vollständigkeit und Aktualität der Angaben übernommen werden. Eine Haftung des Medieninhabers Universität Innsbruck) wird daher ausgeschlossen. Die Benützung dieser Website erfolgt auf eigene Verantwortung; wir haften nicht für Schäden oder Verluste, die durch die hier angebotenen Informationen oder die zum Download zur Verfügung gestellten Dateien direkt oder indirekt verursacht werden. Die Links zu anderen Websites wurden sorgfältig ausgewählt. Da der Medieninhaber Universität Innsbruck auf deren Inhalt keinen Einfluss haben, übernimmt sie dafür keine Verantwortung.</p>
            </div>
        </div>
    </div>
</div>