[submodule "apps/library"]
	path = longan/library
	url = https://github.com/Transkribus/TWI-library.git
[submodule "apps/dashboard"]
	path = longan/dashboard
	url = https://github.com/Transkribus/TWI-dashboard.git
[submodule "apps/search"]
	path = longan/search
	url = https://github.com/Transkribus/TWI-search.git
[submodule "apps/navigation"]
	path = longan/navigation
	url = https://github.com/Transkribus/TWI-navigation.git
[submodule "apps/edit"]
	path = longan/edit
	url = https://github.com/Transkribus/TWI-edit.git
[submodule "apps/sandbox"]
	path = longan/sandbox
	url = https://bitbucket.org/bejohu/twi-sandbox.git
