{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      <h1 class="page-header">Login</h1>
    </div>
    <div class="col-xs-12 col-md-4 col-md-offset-4">
      {% if form.errors %}
      <p>{% trans "Your username and password didn't match. Please try again." %}</p>
      {% endif %}
      {% comment %} An error code has been passed in from a transkribus request {% endcomment %}
      {% if request.GET.error %}
      <div class="alert alert-danger" role="alert">
	<strong>{% trans 'Sorry! There was a problem logging in: ' %}</strong>{{ request.GET.error|login_error_message|safe }}
      </div>
      {% endif %}
      
      <!-- Though this might be logout when session ends... but looks not to be. Referrer: {{ request.META.HTTP_REFERER }}	-->
      {% if next %}
      {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
	please login with an account that has access.</p>
      {% else %}
      <p>{% trans "Please login with your" %} <a href="https://transkribus.eu">Transkribus</a> {% trans "user account. <!-- If you do not have a Transkribus user account, please register for free at the" %} <a href="{% url 'register' %}">{% trans "Transkribus website" %}.</a> -->
      </p>
      {% endif %}
      {% endif %}
      <hr>
      <form method="post" action="{% url 'login-with-cookie' %}">
	{% csrf_token %}
	{% bootstrap_form form %}
        <hr>
	<button type="submit" class="btn btn-default btn-block"/>{% trans 'Login'%}</button>
	<input type="hidden" name="next" value="{{ next }}" />
      </form>
      <hr>
      <div class="text-center">
        <ul class="list-inline">
          <li><a href="{% url 'register' %}">{% trans "Create Account" %}</a></li>
          {# <li class="text-muted">OR</li> #}
          <li>
            {# Assumes you setup the password_reset view in your URLconf #}
            <a href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>	

{% endblock %}
