{% extends "navi_base.html" %}
{% load i18n %}

{% block content %}


    <!-- Page Content -->
    <div class="container">

        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% trans "Register" %}</h1>
		<p>{% trans 'You will require a Transkribus account to use this service. You can register for free by going to <a href="https://transkribus.eu/">transkribus.eu</a> and clicking on "Register"' %}</p>
	    </div>
	</div>
    </div>	

{% endblock %}
