{% extends 'sandbox/base.html' %}
{% load static %}
{% block content %}
<h1>¯\_(ツ)_/¯</h1>
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/PageContent.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/3.5.0/diff.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/deep-diff/0.3.3/deep-diff.min.js"></script>
<script type="text/javascript">

 /* NOTE: for parser used by server see https://github.com/Transkribus/TranskribusCore/tree/fff701158674b2b0f66b8ec560b243af1ba232af/src/main/java/eu/transkribus/core/model/beans/customtags */

 var PREFIX = '{% static 'sandbox' %}/data/';

 getXML(PREFIX + 'pageWithTags.xml').then(function (doc) {
   doc.querySelectorAll('TextLine[custom]').forEach(function (node) {
   });
 });

 {% verbatim %}

 var TESTS = [
   [
     'readingOrder {index:2;} comment {offset:0; length:6; comment:0\\u0020\\u003b\\u00201\\u0020\\u007d\\u00202\\u0020\\u007b\\u00203\\u0020\\u007d;}',
     [
       {
         name: 'readingOrder', attributes: {index: 2}
       },
       {
         name: 'comment', attributes: {
           offset: 0, length: 6, comment: '0 ; 1 } 2 { 3 }'
         }
       }
     ]
   ],

   [
     'readingOrder {index:3;} abbrev {offset:14; length:10; expansion:test\\u0020\\u005c\\u0020test\\u0020\\u005c\\u005c\\u0020test;}',
     [
       {
         name: 'readingOrder', attributes: {index: 3},
       },
       {
         name: 'abbrev', attributes: {
           offset: 14,
           length: 10,
           expansion: 'test \\ test \\\\ test'
         }
       }
     ]
   ],

   [
     'readingOrder {index:6;} abbrev {offset:32; length:7; expansion:Mit\\u0020g\\u0020und\\u0020l;}',
     [
       {name: 'readingOrder', attributes: {index: 6}},
       {
         name: 'abbrev', attributes: {
           offset: 32,
           length: 7,
           expansion: 'Mit g und l'
         }
       }
     ],
   ],

   [
     'readingOrder {index:4;} sic {offset:4; length:8;} abbrev {offset:10; length:7; expansion:test\\u0020\\u003b\\u0020test\\u0020\\u005c\\u0020test\\u0020\\u007b\\u0020test\\u0020\\u007d\\u0020test\\u0020\\u007d\\u007d\\u007d\\u007d\\u0020\\u007b\\u007b\\u007b\\u0020\\u007d\\u007d\\u007d\\u007d;}',
     [
       {
         name: 'readingOrder', attributes: {index: 4}
       },
       {
         name: 'sic', attributes: {offset: 4, length: 8}
       },
       {
         name: 'abbrev', attributes: {
           offset: 10,
           length: 7,
           expansion: 'test ; test \\ test { test } test }}}} {{{ }}}}'
         }
       }
     ]
   ]
 ];

 {% endverbatim %}

 window.addEventListener('load', function (evt) {
    TESTS.forEach(function (data) {
      var string = data[0];
      var expected = data[1];
      var actual = parseCustomAttribute(string);

      var diffs = DeepDiff.diff(expected, actual);
      if (!diffs)
        console.info("PASS")
      else
        console.error("FAIL", {diff: diffs, actual: actual, expected: expected});
    });

    TESTS.forEach(function (data) {
      var expected = data[0];
      var actual = toCustomAttributeString(data[1]);

      var diffs = JsDiff.diffChars(actual, expected);

      if (diffs.length === 1 && typeof diffs[0].value === 'string')
        console.info("PASS");
      else
        console.error("FAIL", {diff: diffs, actual: actual, expected: expected});

    });

  }, false);

 function test (expected, actual) {
   if (actual === expected)
     console.info("SUCCESS");
   else
     console.error("FAIL", '"' + actual + '"', '!=', '"' + expected + '"');
 }
</script>
{% endblock %}
