{% extends 'sandbox/base.html' %}
{% load static %}
{% block content %}
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/PageContent.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jsdiff/3.5.0/diff.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/deep-diff/0.3.3/deep-diff.min.js"></script>
<script type="text/javascript">

 var PREFIX = '{% static 'sandbox' %}/data/';

 {% verbatim %}

 var TESTS = [
   [
     'pageWithTags.xml',
     true
   ],

   [
     'emptyPage.xml',
     false
   ],
 ];

 {% endverbatim %}

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = hasTags(doc);
     test(expected, actual, index);
   });
 });

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = hasTextLines(doc);
     test(expected, actual, index);
   });
 });

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = hasTextRegions(doc);
     test(expected, actual, index);
   });
 });

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = hasEmptyLines(doc);
     test(expected, actual, index);
   });
 });

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = hasReadingOrder(doc);
     test(expected, actual, index);
   });
 });

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = textLineHasCoords(doc);
     test(expected, actual, index);
   });
 });

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = textLineHasCoordsWithPoints(doc);
     test(expected, actual, index);
   });
 });

 TESTS.forEach(function (data, index) {
   getXML(PREFIX + data[0]).then(function (doc) {
     var expected = data[1];
     var actual = textLineHasCoordsWithPointsAndFormat(doc);
     test(expected, actual, index);
   });
 });

 function test (expected, actual, index) {
   if (expected === actual)
     console.debug("PASS");
   else
     console.error("FAIL!", index, {actual: actual, expected: expected})
 }

</script>
{% endblock %}
