<aside class="image-viewer-toolbar js-image-viewer-toolbar">
  <form class="form js-form" method="post">
    <button class="js-zoom-factor"></button>
    &nbsp;
    <button class="action" name="zoom" value="in">&plus;</button>
    <button class="action" name="zoom" value="out">&minus;</button>
    <button class="action" name="zoom" value="reset">100%</button>
    &nbsp;
    <button class="action" name="test" value="scrollIntoView">test: scrollIntoView</button>
    <button class="action" name="test" value="zoomIntoView">test: zoomIntoView</button>
  </form>
</aside>
