<aside class="menu js-menu">
  <form class="form js-form" method="post">
    <button type="button" name="toggle" value="image">Image</button>
    <button type="button" name="toggle" value="layout">Layout</button>
    &nbsp;
    <button type="button" name="toggle" value="TextRegion">TextRegion</button>
    <button type="button" name="toggle" value="TableRegion">TableRegion</button>
    <button type="button" name="toggle" value="TableCell">TableCell</button>
    <button type="button" name="toggle" value="TextLine">TextLine</button>
    <button type="button" name="toggle" value="Baseline">Baseline</button>
    &nbsp;
    <button name="zoom" value="in">&plus;</button>
    <button name="zoom" value="out">&minus;</button>
    <button name="zoom" value="reset">100%</button>
  </form>
</aside>
