<main class="review-viewer js-review-viewer">
  <section class="image-viewer scrollable js-scrollable">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <mask class="js-mask" id="Coords" x="0" y="0" width="100%" height="100%">
          <rect x="0" y="0" width="100%" height="100%" style="stroke:none; fill: white"/>
        </mask>
      </defs>
      <image class="js-image" x="0" y="0" width="100%" height="100%" xlink:href="" />
      <rect class="js-rect" x="0" y="0" width="100%" height="100%" fill="rgba(0, 0, 0, 0.25)" mask="url(#Coords)"/>
      <g class="js-group"></g>
    </svg>
  </section>
  <footer class="footer js-footer">
    {# TODO: split into overlay menu and footer #}
    {% include 'sandbox/includes/other-menu.html' %}
  </footer>
</main>
