<div class="manager js-manager viewing">
  <div class="content">
    <section class="item viewer">
      <div class="text-viewer js-text-viewer"></div>
      <form class="actions js-actions">
        <button name="action" value="edit" class="edit js-action js-edit">edit &#x1f58b;</button>
      </form>
    </section>
    <section class="item editor js-editor">
      <div class="content">
        <section class="item xml-editor">
          <div class="content">
            <div class="editor js-xml-editor"></div>
          </div>
        </section>
        <section class="item some-other-editor">
          <div class="content">
            some other editor
          </div>
        </section>
        <section class="item preview-viewer">
          <div class="content">
            <div class="preview-viewer js-preview-viewer"></div>
          </div>
        </section>
      </div>
      <div class="header js-header">
        <form class="actions js-actions">
          <button name="action" value="xml-editor" class="js-action">XML</button>
          <button name="action" value="some-other-editor" class="js-action">some-other-editor</button>
          <button name="action" value="preview" class="js-action">preview</button>
        </form>
      </div>
      <div class="footer js-footer">
        <form class="actions js-actions">
          <button name="action" value="cancel" class="js-action">cancel</button>
          <button name="action" value="save" class="js-action">save</button>
        </form>          
      </div>
    </section>
  </div>
</div>
