{% extends 'sandbox/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'sandbox' %}/css/login-dialog.css"/>
<style>
  .login-dialog {
    background-color: white;
  }

 .login-message {
   display: none;
 }

 .checking .login-message {
   display: block;
 }

 .checking .welcome {
   display: none;
 }

</style>
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/lib/api.js"></script>
<script src="{% static 'sandbox' %}/js/LoginDialog.js"></script>
{% endblock %}
{% block content %}
<div class="login-message js-login-message">Checking to see if you are looged in &hellip;</div>
<div class="welcome">
  <h1>Welcome!</h1>
  <button>Logout</button>
</div>
{% include 'sandbox/includes/login-dialog.html' %}
<script>
 window.onload = function (evt) {

   var node = document.body;

   node.classList.add('checking');

   LoginDialog.getInstance().then(function (loginDialog) {
     loginDialog.login().then(function (userData) {
       console.debug(userData);
     }, function (error) {
       console.error(error);
     });
   });

   var button = document.querySelector('button');
   button.addEventListener('click', function () {
     LoginDialog.getInstance().then(function (loginDialog) {
       loginDialog.logout();
     });
   }, false);
 };
</script>
{% endblock %}
