.character-table {
    height: 100%;
}

.character-table.hidden {
    display: none;
}

.character-table {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;

    background: white;

    z-index: 9999999;
} 

.character-table .content {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.character-table .content .table {
    overflow: auto;
}


/* NOTE: make sure .table scrollbar has no distance to rightmost edge */
.character-table .content .header,
.character-table .content .footer {
    padding: 2em 0;
    margin: 0 2em;
}

.character-table .content .table {
    padding: 0 2em;
}

.character-table .table .item {
    width: 2em;
    height: 2em;

    display: inline-block;
    vertical-align: middle;

    font-size: 2em;

    border: 2px solid white; // border that poses as margin
}

.character-table .table .item:hover {
}

.character-table .footer {
    text-align: right;
}
