/* FIXTHIS: this is more like an overlay ... */

.review-viewer {
    height: 100%;
}

.review-viewer .scrollable {
    height: 95%;
}

.review-viewer .polygon {
    fill: transparent;
    // stroke: blue;
}

.review-viewer .polygon:active {
    stroke: green !important;
}

.review-viewer .polygon:hover, .polygon.disabled:hover {
    stroke: blue;
}

.review-viewer .polygon:focus,
.review-viewer .polygon:hover {
    stroke-width: 2px;
    outline: none;
}

.review-viewer .polygon:focus {
    stroke: red;   
}

.review-viewer .polygon.disabled:focus {
    /* no style yet :/ */
}

.review-viewer .mask {
    fill: black;
}

.review-viewer .mask.disabled {
    fill: white;
}

.review-viewer .menu .count {
    color: white;
}

.review-viewer .text {
    position: fixed;

    left: 0;
    bottom: 0;

    padding: 1em;

    width: 100%;

    text-align: center;

    background: white;

}
