.text-viewer {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.text-viewer .TextRegion {
    margin: 1em;
}

.text-viewer .TextLine {
    min-height: 1.5em; // do not collapse
}

.text-viewer {
    background-color: white;
}




 .text-viewer .TextRegion {
   border: 2px solid rgba(0, 127, 127, 0.25);
 }

 .text-viewer .TextLine {
   border: 2px solid rgba(127, 127, 0, 0.1);
   background-color: rgba(127, 0, 127, 0.1);
 }

 .text-viewer .tag {
   padding: 4px;
   border-radius: 2px;
   border: 1px solid rgba(0, 0, 0, 0.25);
   background-color: rgba(0, 0, 0, 0.05);
 }
 .text-viewer .tag:hover {
   background-color: rgba(0, 0, 0, 0.1);
 }

.text-viewer abbr {
    color: rgba(0, 0, 0, 0.5);
}

.text-viewer abbr:hover {
    color: rgba(0, 0, 0, 1);
}

.text-viewer .organization:before {
    display: inline;
    content: '\1f3e0';
}
