.plain-text-editor .templates {
    display: none;
}

.plain-text-editor {
    height: 100%;
    overflow: auto;
}

.plain-text-editor .list {
    list-style: none;
}

.plain-text-editor .text {
    width: 100%;
    text-align: center;
}

/* theme */

.plain-text-editor .text {
    line-height: 1.5em;
    // font-size: 0.875em;
    font-size: 1em;
    outline: none;
    border: 0;
}

.plain-text-editor .text:focus {

}

.plain-text-editor .text:invalid {
    box-shadow: none;
    background-color: rgba(255, 0, 0, 0.05);
}

.plain-text-editor .highlighted .text,
.plain-text-editor .highlighted .text:invalid {
    background-color: rgba(0, 0, 255, 0.1);
}

.plain-text-editor .text:focus,
.plain-text-editor .highlighted .text:invalid:focus {
    background-color: rgba(0, 0, 255, 0.25);
}
