.toolbar {
    display: inline-block;
    text-align: center;
}

.toolbar--fixed {
    position: fixed;
}

.toolbar--absolute {
    position: absolute;
}

.toolbar--fixed,
.toolbar--absolute {
    left: 0;
    top: 0;
}

.toolbar--right {
    left: auto;
    right: 0;
}

.toolbar--sticky {
    position: sticky;
}

.toolbar .action {
    padding: 0.25em;
}

.toolbar .divider {
    margin: 0 0.25em;
    // border-left: 1px solid rgba(0, 0, 0, 0.25);
}
