{% load i18n %}
<div class="row">
  <div class="col-lg-12">
    <a href="http://transkribus.eu"><img style="float:left; height:25px;" src="//transkribus.eu/Transkribus/img/read_135x135.png"></a>
    <img style="float:left; height:25px;" src="//transkribus.eu/Transkribus/img/jaune.jpg">
    <p>{% trans "Transkribus is part of the "%}<a href="http://read.transkribus.eu/" target="_blank">{% trans "READ project"%}</a>{% trans " and has received funding from the European Union’s Horizon 2020 Research and Innovation programme under grant agreement no. 674943." %}</p>
    </div>
</div>
