{% extends "base.html" %}
{% load i18n %}

{% load bootstrap3 %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-4 offset-md-4">
      <h1 class="page-header">Login</h1>
      {% if form.errors %}
      <p>{% trans "Your username and password didn't match. Please try again." %}</p>
      {% endif %}
      <hr>
      <form method="post" action="{% url 'login' %}">
	{% csrf_token %}
	{% bootstrap_form form %}
        <hr>
	<button type="submit" class="btn btn-default btn-block"/>{% trans 'Login'%}</button>
	<input type="hidden" name="next" value="{{ next }}" />
      </form>
      <hr>
      <div class="text-center">
        {# <a href="{% url 'password_reset' %}">{% trans "Lost password?" %}</a> #}
      </div>
    </div>
  </div>
</div>	

{% endblock %}
