{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<html>

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% trans 'Transkribus/Admin Page' %}</title>
   
       <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- Bootstrap CSS -->
    <link href="{% static 'start/assets/css/bootstrap.min.css' %}" rel="stylesheet" >
    
       <!-- bootstrap -->
    <script src="{% static 'start/assets/js/popper.js' %}"></script>
    <script src="{% static 'start/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'start/assets/js/waypoints.min.js' %}"></script>
    <!-- Owl Carousel js -->
    <script src="{% static 'start/assets/js/owl.carousel.min.js' %}"></script>
    <!-- Owl Carousel js -->
    <script src="{% static 'start/assets/js/parallax.min.js' %}"></script>
    <!-- Magnific-popup -->
    <script src="{% static 'start/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <!-- Jquery easing -->
    <script src="{% static 'start/assets/js/jquery.easing.1.3.min.js' %}"></script>
    <!--Counter-->
    <script src="{% static 'start/assets/js/jquery.counterup.min.js' %}"></script>
    <!-- WOW JS -->
    <script src="{% static 'start/assets/js/wow.min.js' %}"></script>
    <!-- progress bar -->
    <script src="{% static 'start/assets/js/bootstrap-progressbar.min.js' %}"></script>
    <!-- Filterizr JS -->
    <script src="{% static 'start/assets/js/jquery.filterizr.min.js' %}"></script>
    <!-- youtube backround  JS -->
    <script src="{% static 'start/assets/js/youtubebackground.js' %}"></script>
    <!--particel JS -->
    <script src="{% static 'start/assets/js/particles.min.js' %}"></script>
    <script src="{% static 'start/assets/js/init-particles.js' %}"></script>
    <!--typed js -->
    <script src="{% static 'start/assets/js/typed.min.js' %}"></script>
    
    
    <!-- semantic ui -->
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.1/dist/semantic.min.css">
    
    <!-- Fonts Icon CSS -->
    <link href="{% static 'start/assets/css/font-awesome.min.css' %}" rel="stylesheet" >
    <link href="{% static 'start/assets/css/et-line.css' %}" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="{% static 'start/assets/css/owl.carousel.min.css' %}" rel="stylesheet" >
    <link href="{% static 'start/assets/css/owl.theme.default.min.css' %}" rel="stylesheet" >
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="{% static 'start/assets/css/magnific-popup.css' %}" >
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'start/assets/css/animate.min.css' %}" >
    <!-- Custom styles for this template -->
    <link href="{% static 'start/assets/css/main.css' %}" rel="stylesheet" > 
    <!-- Custom modifications -->   
   
    <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script>  
    

    
    <!-- for uploading images -->
    <link rel="stylesheet" type="text/css" href="{% static 'start/css/dropzone.min.css' %}">
    <script src="{% static 'start/js/dropzone.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'start/css/admin.css' %}">
    <link href="{% static 'start/css/homepage.css' %}" rel="stylesheet" >
  
    <!-- Custom js -->
    <script src="{% static 'start/assets/js/main.js' %}"></script>
    <script src="{% static 'start/js/admin.js' %}"></script>
    
    
    <link rel="shortcut icon" href="{% static 'start/favicon.ico' %}" type="image/x-icon" />
</head>

<body data-spy="scroll" data-target="header">

<!-- write template variables to javascript vars -->
<script>

/* write the available language codes for further usage*/
var langs = [] ;
{% for l in LANGUAGES %}
    langs.push('{{l.0}}');
{% endfor %}


var csrf_token = '{{ csrf_token }}';
var quills_placeholder = '{% trans 'Enter Text...' %}'
</script>

<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <!-- <a class="navbar-brand logo" href="#">
            <span class="admin">{% trans 'Transkribus/Admin Page' %}</span>
        </a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" target="_plain" href="index"><span class="admin">{% trans 'Back' %}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#home_articles">{% trans 'Home Articles' %}</a>
                </li>
                    
                 <li class="nav-item">
                    <a class="nav-link " href="#blog">{% trans 'Blog' %}</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link " href="#institutions">{% trans 'institutions' %}</a>
                </li>
                 <li class="nav-item">
                    <a class="nav-link " href="#institutions_projects">{% trans 'institutions_projects' %}</a>
                </li>
      
                <li class="nav-item">
                    <a class="nav-link " href="#quotes">{% trans 'quotes' %}</a>
                </li>
      
                <li class="nav-item">
                    <a class="nav-link " href="#documents">{% trans 'documents' %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="#videos">{% trans 'videos' %}</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="admin">{{LANGUAGE_CODE}} </span></a>
                    <ul class="sub_menu">
                        {% for language in languages %}
                            {% if language.code == LANGUAGE_CODE %}
                                <li>X<span class="glyphicon glyphicon-ok check_left"></span> &nbsp; {{ language.name_local }}</li>
                            {% else %}
                                <li><a href="change_lang?lang={{language.code}}"><span class="check_left"> &nbsp;</span>{{ language.name_local }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
            </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

<section id="home_articles" class="bg-light pt120 pb120">
    <div class="container">
        <h1>{% trans 'Home Articles' %}</h1>
        
         <input type="hidden" name="editor-id-article" id= "editor-id-article" value="0"> <!-- change when a document ist loaded for editing -->
        {% trans 'stored home articles' %} :
        <select name="article-options" id="article-options"  onchange="change_article($(this).val())">
            <option value="0" selected>{% trans 'new home article entry' %}...</option>
             {% for a in articles %}
                <option value="{{a.article.pk}}">{{a.title}} - {{a.article.changed}}</option>
            {% endfor %}
        </select>
        <img id="editor-article-img" class="invisible" src="" /> 
        
        <button id="editor-article-btn-delete" class="invisible" onclick="delete_article()">{% trans 'delete' %}</button> 
        
        <br/><br/>
        <form class="dropzone" action="upload_img" method="post" enctype="multipart/form-data" id="article_dropzone">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            <input type="hidden" name="type" value="article" />
        </form>
        <div class="tab">
            <button class="tablinks-article" onclick="openTabs('editor-article-tab-de', 'article', event)">DE</button>
            <button class="tablinks-article" onclick="openTabs('editor-article-tab-en', 'article', event)">EN</button>
        </div>
        
        {% for l in LANGUAGES %}
             <div class="editor-article-tab-{{l.0}} tabcontent-article" id="editor-article-tab-{{l.0}}">
                <div class="form-group">
                   <label for="editor-title-article-{{l.0}}">
                        {% language "{{l.0}}" %}main title{% endlanguage %}
                    </label>
                   <input class="form-control" type="text" name="editor-title-article-{{l.0}}" id ="editor-title-article-{{l.0}}" />
                </div>
                <div class="form-group">
                   <label for="editor-container-article-short-{{l.0}}">
                        {% language "{{l.0}}" %}sub title{% endlanguage %}
                   </label>
                  
                    <div class="editor-container" id="editor-container-article-short-{{l.0}}"> 
                    
                    </div>
                     <label for="editor-container-article-{{l.0}}">
                        {% language "{{l.0}}" %}Main content{% endlanguage %}
                   </label>
                     <div class="editor-container" id="editor-container-article-{{l.0}}">
                       
                    </div> 
                </div>  
                
            </div>
        {% endfor %}            
        <button id="editor-store-article" onclick="store_article()">{% trans 'store' %}</button>    
    </div>
</section>

<section id="blog" class="bg-light pt120 pb120">
    <div class="container">
        <h1>{% trans 'Blog entries' %}</h1>
                
        <input type="hidden" name="editor-id-blog" id= "editor-id-blog" value="0"> <!-- change when a document ist loaded for editing -->
        {% trans 'stored blog entries' %} :
        <select name="blog-options" id="blog-options"  onchange="change_blog($(this).val())">
            <option value="0" selected>{% trans 'new blog entry' %}...</option>
             {% for b in blogs %}
                <option value="{{b.blog.pk}}">{{b.title}} - {{b.blog.changed}}</option>
            {% endfor %}
        </select>
        <img id="editor-blog-img" class="invisible" src="" /> 
        
        <button id="editor-blog-btn-delete" class="invisible" onclick="delete_blog()">{% trans 'delete' %}</button> 
        
        <br/><br/>
        <form class="dropzone" action="upload_img" method="post" enctype="multipart/form-data" id="blog_dropzone">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            <input type="hidden" name="type" value="blog" />
        </form>
        <div class="tab">
            <button class="tablinks-blog" onclick="openTabs('editor-blog-tab-de', 'blog', event)">DE</button>
            <button class="tablinks-blog" onclick="openTabs('editor-blog-tab-en', 'blog', event)">EN</button>
        </div>
        
        {% for l in LANGUAGES %}
             <div class="editor-blog-tab-{{l.0}} tabcontent-blog" id="editor-blog-tab-{{l.0}}">
                <div class="form-group">
                   <label for="editor-title-blog-{{l.0}}">
                        {% language "{{l.0}}" %}main title{% endlanguage %}
                    </label>
                   <input class="form-control" type="text" name="editor-title-blog-{{l.0}}" id ="editor-title-blog-{{l.0}}" />
                </div>
                <div class="form-group">
                   <label for="editor-subtitle-blog-{{l.0}}">
                        {% language "{{l.0}}" %}sub title{% endlanguage %}
                   </label>
                   <input class="form-control" type="text" name="editor-subtitle-blog-{{l.0}}" id ="editor-subtitle-blog-{{l.0}}" />
                </div>  
                 <div class="editor-container" id="editor-container-blog-{{l.0}}">
                </div> 
            </div>
        {% endfor %}            
        <button id="editor-store-blog" onclick="store_blog()">{% trans 'store' %}</button>
    </div>
</section>

<section id="institutions" class="bg-light pt120 pb120">
    <div class="container">
        <h1>{% trans 'Institutions' %}</h1>
        {% trans 'select institution' %}: 
        <select name="inst-options" id="inst-options" onchange="change_inst($(this).val())">
            <option value="0" selected>{% trans 'new institution' %}...</option>
             {% for i in inst %}
                <option value="{{i.inst.pk}}">{{i.name}}</option>
            {% endfor %}
        </select>
        <img id="editor-inst-img" class="invisible" src="" /> 
        <button id="editor-inst-btn-delete" class="invisible" onclick="delete_inst()">{% trans 'delete' %}</button> 
        
        <br/><br/>
        <form class="dropzone" action="upload_img" method="post" enctype="multipart/form-data" id="inst_dropzone">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
            <input type="hidden" name="type" value="inst" />
        </form>
        <br/>
        
        
         <label for="loc-coords-lat">
            {% trans 'location coordinates' %}
        </label>
        <div class="row justify-content-center">
            <input class="form-control col-12 col-md-6" type="text" name="loc-coord-long" id ="loc-coord-long" placeholder="{% trans 'longitude' %}" pattern="^(\+|-)?(?:180(?:(?:\.0{1,6})?)|(?:[0-9]|[1-9][0-9]|1[0-7][0-9])(?:(?:\.[0-9]{1,6})?))$" />
            <input class="form-control col-12 col-md-6" type="text" name="loc-coord-lat" id ="loc-coord-lat"  placeholder="{% trans 'latitude' %}" pattern="^(\+|-)?(?:90(?:(?:\.0{1,6})?)|(?:[0-9]|[1-8][0-9])(?:(?:\.[0-9]{1,6})?))$"/>
        </div>
         <label for="loc-name">
            {% trans 'URL' %}
        </label>
        <input class="form-control" type="url" name="inst-url" id ="inst-url" />
        
        <div class="tab">
            <button class="tablinks-inst" onclick="openTabs('editor-inst-tab-de', 'inst', event)">DE</button>
            <button class="tablinks-inst" onclick="openTabs('editor-inst-tab-en', 'inst', event)">EN</button>
        </div>
        
        
         {% for l in LANGUAGES %}
             <div class="editor-inst-tab-{{l.0}} tabcontent-inst" id="editor-inst-tab-{{l.0}}">
       
                <label for="inst-name">
                     {% language "{{l.0}}" %}name{% endlanguage %}
                </label>
                <input class="form-control" type="text" name="inst-name-{{l.0}}" id ="inst-name-{{l.0}}" />
                <label for="loc-name">
                     {% language "{{l.0}}" %}location name{% endlanguage %}
                </label>
                <input class="form-control" type="text" name="loc-name-{{l.0}}" id ="loc-name-{{l.0}}" />
                <div class="editor-container" id="editor-container-inst-{{l.0}}">
                  
                </div> 
            </div>
        {% endfor %}            
        <button id="editor-store-inst" onclick="store_inst()">{% trans 'store' %}</button>
    </div>    
</section>

<section id="institutions_projects" class="bg-light pt120 pb120">
     <div class="container">
        <h1>{% trans 'Institution - Projects' %}</h1>
        
        {% trans 'select institution' %}: 
        <select name="inst-proj-options" id="inst-proj-options" onchange="change_inst_proj($(this).val())">
             {% for i in inst %}
                <option value="{{i.inst.pk}}">{{i.name}}</option>
            {% endfor %}
        </select>
        
        {% trans 'select project' %}: 
        <select name="inst-proj-proj-options" id="inst-proj-proj-options"  onchange="change_inst_proj_proj($(this).val())">
             <option value="0" selected>{% trans 'new project' %}...</option>
             {% for i in first_inst_proj_entries %}
                <option value="{{i.project.pk}}">{{i.title}}</option>
            {% endfor %}
        </select>
        
         <button id="editor-inst-proj-btn-delete" class="invisible" onclick="delete_inst_proj()">{% trans 'delete' %}</button> 
        <br/><br/>
         <div class="tab">
            <button class="tablinks-inst-proj" onclick="openTabs('editor-inst-proj-tab-de', 'inst-proj', event)">DE</button>
            <button class="tablinks-inst-proj" onclick="openTabs('editor-inst-proj-tab-en', 'inst-proj', event)">EN</button>
        </div>
        
        
        {% for l in LANGUAGES %}
             <div class="editor-inst-proj-tab-{{l.0}} tabcontent-inst-proj" id="editor-inst-proj-tab-{{l.0}}">
                 <div class="form-group">
                   <label for="editor-title-inst-proj-{{l.0}}">
                        {% language "{{l.0}}" %}main title{% endlanguage %}
                    </label>
                   <input class="form-control" type="text" name="editor-title-inst-proj-{{l.0}}" id ="editor-title-inst-proj-{{l.0}}" />
                </div>
             
             
                 <div class="editor-container" id="editor-container-inst-proj-{{l.0}}">
                 
                </div> 
            </div>
        {% endfor %}            
        <button id="editor-store-inst-proj" onclick="store_inst_proj()">{% trans 'store' %}</button>
    </div> 
</section>



<section id="quotes" class="bg-light pt120 pb120">
     <div class="container">
        <h1>{% trans 'Quotes' %}</h1>
        
        {% trans 'select quote' %}: 
        <select name="quote-options" id="quote-options" onchange="change_quote($(this).val())">
            <option value="0" selected>{% trans 'new quote' %}...</option>
             {% for q in quotes %}
                <option value="{{q.quote.pk}}">{{q.quote.name}}</option>
            {% endfor %}
        </select>
        <img id="editor-quote-img" class="invisible" src="" /> 
        
        <button id="editor-quote-btn-delete" class="invisible" onclick="delete_quote()">{% trans 'delete' %}</button> 

        <br/><br/>
        <form class="dropzone" action="upload_img" method="post" enctype="multipart/form-data" id="quote_dropzone">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{csrf_token}}" />
            <input type="hidden" name="type" value="quote" />
        </form>
        <br/>
        
         <div class="form-group">
           <label for="editor-name-quote">
                {% language "{{l.0}}" %}name{% endlanguage %}
            </label>
           <input class="form-control" type="text" name="editor-name-quote" id ="editor-name-quote" />
        </div>
        
         <div class="tab">
            <button class="tablinks-quote" onclick="openTabs('editor-quote-tab-de', 'quote', event)">DE</button>
            <button class="tablinks-quote" onclick="openTabs('editor-quote-tab-en', 'quote', event)">EN</button>
        </div>
        {% for l in LANGUAGES %}
             <div class="editor-quote-tab-{{l.0}} tabcontent-quote" id="editor-quote-tab-{{l.0}}">
                 <div class="form-group">
                   <label for="editor-role-quote-{{l.0}}">
                        {% language "{{l.0}}" %}role{% endlanguage %}
                    </label>
                   <input class="form-control" type="text" name="editor-role-quote-{{l.0}}" id ="editor-role-quote-{{l.0}}" />
                </div>
             
             
                 <div class="editor-container" id="editor-container-quote-{{l.0}}">
                 
                </div> 
            </div>
        {% endfor %}            
        <button id="editor-store-quote" onclick="store_quote()">{% trans 'store' %}</button>
    </div> 
</section>

<section id="documents" class="bg-light pt120 pb120">
     <div class="container">
        <h1>{% trans 'Documents' %}</h1>
        
        {% trans 'select document' %}: 
        <select name="doc-options" id="doc-options" onchange="change_doc($(this).val())">
            <option value="0" selected>{% trans 'new document' %}...</option>
            {% for d in docs %}
                <option value="{{d.doc.pk}}">{{d.title}} ( {{d.changed}} )</option>
            {% endfor %}
        </select>
        <button id="editor-doc-btn-delete" class="invisible" onclick="delete_doc()">{% trans 'delete' %}</button> 
         <br/><br/>
         <label for="editor-icon-doc">
             {% language "{{l.0}}" %}icon{% endlanguage %}
         </label>
        <input class="form-control" type="text" name="editor-icon-doc" id ="editor-icon-doc" value="icon-lightbulb"/>

        <div class="ui inline dropdown">
          <span class="text">{% trans 'select icon' %}</span>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
             
                icon 1
            </div>
            <div class="item">
              <img class="ui image" src="{% static 'start/img/doc_icons/jaune.jpeg' %}">
                icon 1
            </div>
            
          </div>
        </div>

    
         <div class="tab">
            <button class="tablinks-doc" onclick="openTabs('editor-doc-tab-de', 'doc', event)">DE</button>
            <button class="tablinks-doc" onclick="openTabs('editor-doc-tab-en', 'doc', event)">EN</button>
        </div>
            
        {% for l in LANGUAGES %}
            <div class="editor-doc-tab-{{l.0}} tabcontent-doc" id="editor-doc-tab-{{l.0}}">
                 <div class="form-group">
                   <label for="editor-title-doc-{{l.0}}">
                        {% language "{{l.0}}" %}title{% endlanguage %}
                    </label>
                   <input class="form-control" type="text" name="editor-title-doc-{{l.0}}" id ="editor-title-doc-{{l.0}}" />
            
                    
            
                    <label for="editor-doc-desc-{{l.0}}">
                        {% language "{{l.0}}" %}description{% endlanguage %}
                    </label>
                    <div class="editor-container" id="editor-container-doc-desc-{{l.0}}">
                 
                    </div>
                    
                     <label for="editor-doc-content-{{l.0}}">
                        {% language "{{l.0}}" %}content{% endlanguage %}
                    </label>
                    <div class="editor-container" id="editor-container-doc-content-{{l.0}}">
                 
                    </div>
                </div>
            </div>
        {% endfor %}            
        <button id="editor-store-doc" onclick="store_doc()">{% trans 'store' %}</button>
        
    </div> 
</section>


<section id="videos" class="bg-light pt120 pb120">
     <div class="container">
        <h1>{% trans 'Videos' %}</h1>
        
        {% trans 'select video' %}: 
        <select name="video-options" id="video-options" onchange="change_video($(this).val())">
            <option value="0" selected>{% trans 'new video' %}...</option>
            {% for v in videos %}
                <option value="{{v.video.pk}}">{{v.title}} ({{v.video.vid}})</option>
            {% endfor %}
        </select>
        <button id="editor-video-btn-delete" class="invisible" onclick="delete_video()">{% trans 'delete' %}</button> 

        <br/><br/>
        
        
         <div class="form-group">
           <label for="editor-id-video">
                {% trans 'youtube-id' %}
            </label>
           <input class="form-control" type="text" name="editor-id-video" id ="editor-id-video" />
        </div>
        
         <div class="tab">
            <button class="tablinks-video" onclick="openTabs('editor-video-tab-de', 'video', event)">DE</button>
            <button class="tablinks-video" onclick="openTabs('editor-video-tab-en', 'video', event)">EN</button>
        </div>
        {% for l in LANGUAGES %}
             <div class="editor-video-tab-{{l.0}} tabcontent-video" id="editor-video-tab-{{l.0}}">
                 <div class="form-group">
                   <label for="editor-title-video-{{l.0}}">
                        {% language "{{l.0}}" %}title{% endlanguage %}
                    </label>
                   <input class="form-control" type="text" name="editor-title-video-{{l.0}}" id ="editor-title-video-{{l.0}}" />
                </div>
             
                 <div class="editor-container" id="editor-container-video-{{l.0}}">
                 
                </div> 
            </div>
        {% endfor %}            
        <button id="editor-store-video" onclick="store_video()">{% trans 'store' %}</button>
    </div> 
</section>

<script>
$('.ui.dropdown')
  .dropdown()
;

</script>
{% include "start/includes/footer.html" %} 

</body>