{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<html>

<head>
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% trans 'Transkribus/Admin Page' %}</title>
   
     <!-- Bootstrap CSS -->
    <link href="{% static 'start/assets/css/bootstrap.min.css' %}" rel="stylesheet" >
    <!-- Fonts Icon CSS -->
    <link href="{% static 'start/assets/css/font-awesome.min.css' %}" rel="stylesheet" >
    <link href="{% static 'start/assets/css/et-line.css' %}" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="{% static 'start/assets/css/owl.carousel.min.css' %}" rel="stylesheet" >
    <link href="{% static 'start/assets/css/owl.theme.default.min.css' %}" rel="stylesheet" >
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="{% static 'start/assets/css/magnific-popup.css' %}" >
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'start/assets/css/animate.min.css' %}" >
    <!-- Custom styles for this template -->
    <link href="{% static 'start/assets/css/main.css' %}" rel="stylesheet" > 
    <!-- Custom modifications -->
   
   
    <link href="https://cdn.quilljs.com/1.3.5/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.5/quill.js"></script>  
    
    <!-- jquery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    
    <!-- for uploading images -->
    <link rel="stylesheet" type="text/css" href="{% static 'start/css/dropzone.min.css' %}">
    <script src="{% static 'start/js/dropzone.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'start/css/admin.css' %}">
    <link href="{% static 'start/css/homepage.css' %}" rel="stylesheet" >
    
    <link rel="shortcut icon" href="{% static 'start/favicon.ico' %}" type="image/x-icon" />
</head>

<body data-spy="scroll" data-target="header">



<div class="loader">
    <div class="loader-outter"></div>
    <div class="loader-inner"></div>
</div>

<!--header start here -->
<header class="header navbar fixed-top navbar-expand-md">
    <div class="container">
        <a class="navbar-brand logo" href="#">
            <span class="admin">{% trans 'Transkribus/Admin Page' %}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#headernav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="lnr lnr-text-align-right"></span>
        </button>
        <div class="collapse navbar-collapse flex-sm-row-reverse" id="headernav">
            <ul class=" nav navbar-nav menu">
                <li class="nav-item">
                    <a class="nav-link active" target="_plain" href="index"><span class="admin">{% trans 'Back' %}</span></a>
                </li>
      
                <li class="nav-item">
                    <a class="nav-link" href="#"><span class="admin">{{LANGUAGE_CODE}} </span></a>
                    <ul class="sub_menu">
                        {% for language in languages %}
                            {% if language.code == LANGUAGE_CODE %}
                                <li>X<span class="glyphicon glyphicon-ok check_left"></span> &nbsp; {{ language.name_local }}</li>
                            {% else %}
                                <li><a href="change_lang?lang={{language.code}}"><span class="check_left"> &nbsp;</span>{{ language.name_local }}</a></li>
                            {% endif %}
                        {% endfor %}
                    </ul>
            </li>
            </ul>
        </div>
    </div>
</header>
<!--header end here-->

    <script>
    
    function getBlogEntryByLang(arr, lang)
    {
        for (var i = 1; i < arr.length;i++)
        {
            console.log(arr[i]);
            if (arr[i].fields.lang == lang)
            {
                return arr[i];
            }
        }
        return null;
    }
    
    
    $(document).ready(function()
    {
        openBlog('editor-blog-tab-de');
        
        $( "#blog_options" ).change(function() {
            if ($(this).val() != 0)
            {
                $.post("change_admin_blog", {'id': $(this).val(), 'csrfmiddlewaretoken': '{{ csrf_token }}'}).done( function(data)
                    {
                        var img = data[0].fields.image;
                        console.log("IMG:" + img);
                        var de = getBlogEntryByLang(data, "de");
                        
                        console.log("CONTENT:" + de.fields.content);
                        //$("#editor-container-blog-de").html(de.fields.content);
                        quills['de'].setText(de.fields.content);
                        $("#editor-title-blog-de").val(de.fields.title);
                        $("#editor-subtitle-blog-de").val(de.fields.subtitle);
                        
                        var en = getBlogEntryByLang(data, "en");
                        quills['en'].setText(en.fields.content);
                        $("#editor-title-blog-en").val(en.fields.title);
                        $("#editor-subtitle-blog-en").val(en.fields.subtitle);
                        
                    });
            }
        });
    });
       
    Dropzone.options.MyDropzone = 
            {
                dictDefaultMessage: "{% trans 'put_your_file_here' %}",
                init: function()
                {
                    /* Called once the file has been processed. It could have failed or succeded */
                    this.on("complete", function(file){
                        //var img = file.xhr.responseText;
                        //img = img.replace(/"/g,"");
                        //img_form = img_templ.replace(/@link/g, img);
                        //$("#img_container").append(img_form);
                        //id++;
                        
                        //hide the upload container, not needed anymore
                        //$("#MyDropzone").hide();
                        //$("#desc_1").hide();
                        
                        //show the new data entry fields
                        //$("#step_3").show();
                        //$("#desc_2").show();
                    });
                    
                    /* Called after the file is uploaded and sucessful */
                    this.on("sucess", function(file){
                      //  console.log(file);
                    });
                    
                    /* Called before the file is being sent */
                    this.on("sending", function(file){
                      //  console.log("sending");
                    });
                    
                    /* Called before the file is being sent */
                    this.on("addedfile", function(file){
                      //  console.log("addedfile");
                    });
                }
            };  
    
    var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
          ['blockquote', 'code-block'],
          ['video', 'formula', 'image'],
          [{ 'header': 1 }, { 'header': 2 }],               // custom button values
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          [{ 'direction': 'rtl' }],                         // text direction
        
          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        
          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],
        
          ['clean']                                         // remove formatting button
        ];
        
        
        
        function openBlog(lang, evt) 
        {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) 
            {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) 
            {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(lang).style.display = "block";
            if (evt)
            {
                evt.currentTarget.className += " active";
            } else
            {
                tablinks[0].className += " active";
            }
        }
        
        function store_blog()
        {
            var html_de = document.getElementById("editor-container-blog-de").firstChild.innerHTML; /* TODO replace with JQuery */
            var html_en = document.getElementById("editor-container-blog-en").firstChild.innerHTML; /* TODO replace with JQuery */
            var title_de = document.getElementById("editor-title-blog-de").value;  /* TODO replace with JQuery */
            var title_en = document.getElementById("editor-title-blog-en").value;  /* TODO replace with JQuery */
            var subtitle_de = document.getElementById("editor-subtitle-blog-de").value;  /* TODO replace with JQuery */
            var subtitle_en = document.getElementById("editor-subtitle-blog-en").value;  /* TODO replace with JQuery */
            //var id =  document.getElementById("editor-id-blog")
            // console.log(html);
            $.post("store_admin_blog", 
                {id : 0, 
                title_de: title_de, 
                subtitle_de: subtitle_de,
                title_en: title_en, 
                subtitle_en: subtitle_en,
                content_de: html_de, 
                content_en: html_en,  
                'csrfmiddlewaretoken': '{{ csrf_token }}'}).done(function(data)
                    {
                        console.log(data);
                    });
        }
    </script>
<section id="blog" class="bg-light pt120 pb120">
    <div class="container">
        <h1>{% trans 'Blog entries' %}</h1>
        
        {% include "start/includes/quill_edit.html" with key="myval" key2="myval2" %}
        
   
        <input type="hidden" name="editor-id-blog" id= "editor-id-blog" value="0"> <!-- change when a document ist loaded for editing -->
        {% trans 'stored blog entries' %} 
        <select name="blog_options" id="blog_options">
            <option value="0" selected>{% trans 'new blog entry' %}...</option>
             {% for b in blogs %}
                <option value="{{b.blog.pk}}">{{b.title}} - {{b.blog.changed}}</option>
            {% endfor %}
        </select>
        <br/><br/>
        <form class="dropzone" action="upload_blog_img" method="post" enctype="multipart/form-data" id="blog_dropzone">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}" />
        </form>
        <div class="tab">
            <button class="tablinks" onclick="openBlog('editor-blog-tab-de', event)">DE</button>
            <button class="tablinks" onclick="openBlog('editor-blog-tab-en', event)">EN</button>
        </div>
        
        {% for l in LANGUAGES %}
             <div class="editor-blog-tab-{{l.0}} tabcontent" id="editor-blog-tab-{{l.0}}">
                <div class="form-group">
                   <label for="editor-title-blog-{{l.0}}">
                        {% language "{{l.0}}" %}main title{% endlanguage %}
                    </label>
                   <input class="form-control" type="text" name="editor-title-blog-{{l.0}}" id ="editor-title-blog-{{l.0}}" />
                </div>
                <div class="form-group">
                   <label for="editor-subtitle-blog-{{l.0}}">
                        {% language "{{l.0}}" %}sub title{% endlanguage %}
                   </label>
                   <input class="form-control" type="text" name="editor-subtitle-blog-{{l.0}}" id ="editor-subtitle-blog-{{l.0}}" />
                </div>  
                 <div class="editor-container" id="editor-container-blog-{{l.0}}">
                   {{a.content|safe}}{{l.0}}
                </div> 
            </div>
            <script>
                var quills = [];
                quills['{{l.0}}'] = new Quill('#editor-container-blog-{{l.0}}', {
                  modules: {
                    toolbar: toolbarOptions,
                  },
                  placeholder: 'Compose an epic...',
                  formula:true,
                  theme: 'snow'  // or 'bubble'
                });  
                
            </script>
           
        {% endfor %}

            
        <button id="editor-store-blog" onclick="store_blog()">{% trans 'store' %}</button>
   
    </div>
</section>
<br/><br/><br/><br/>
<section id="about" class="bg-light pt120 pb120">
    <div class="container">
        <h1>OTHER</h1>
        {% for a in articles %}
            <input type="text" name="editor-title{{a.a_key}}" id ="editor-title{{a.a_key}}" value="{{a.title}}"/> <br/>
            <div class="editor-container" id="editor-container{{a.a_key}}" width="100%">
               {{a.content|safe}}
            </div>     
            <button id="{{a.a_key}}" onclick="store(this.id)">store</button>
            <br/><br/><br/><br/>
            <script>
        var toolbarOptions = [
          ['bold', 'italic', 'underline', 'strike', 'link'],        // toggled buttons
          ['blockquote', 'code-block'],
          ['video', 'formula', 'image'],
          [{ 'header': 1 }, { 'header': 2 }],               // custom button values
          [{ 'list': 'ordered'}, { 'list': 'bullet' }],
          [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
          [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
          [{ 'direction': 'rtl' }],                         // text direction
        
          [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
          [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
        
          [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
          [{ 'font': [] }],
          [{ 'align': [] }],
        
          ['clean']                                         // remove formatting button
        ];
        
        
        var quill = new Quill('#editor-container{{a.a_key}}', {
          modules: {
            toolbar: toolbarOptions,
          },
          placeholder: 'Compose an epic...',
          formula:true,
          theme: 'snow'  // or 'bubble'
        });    
        //quill.pasteHTML('{{a.content}}')
        
            </script>
        {% endfor %}
        
        <script>
        function store(id)
        {
            console.log(id);
            console.log($('#editor-container1'));
            /* var html = $("#editor-container1").firstChild.innerHTML  */
            var html = document.getElementById("editor-container" + id).firstChild.innerHTML; /* TODO replace with JQuery */
            var title = document.getElementById("editor-title" + id).value;  /* TODO replace with JQuery */
            
            console.log(html);
            $.post("store_admin", {title: title, content: html, id: id, lang: "DE", 'csrfmiddlewaretoken': '{{ csrf_token }}'}).done(function(data)
            {
                console.log(data);
            });
        }
         </script>
    </div>
</section>
 
 
<footer class="footer_four footer_dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12 text-center-xs">
                <ul class="list-inline">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#about">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#services">services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#contact">contact us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-12 text-center-xs">
                <p>
                    © {% trans 'Copyright 2018 DEA - All Rights Reserved' %}
                </p>
                <p>
                    <img class="eu_logo" src="{% static 'start/img/jaune.jpeg' %}"/>
                    {% trans 'Transkribus is part of the READ project and has received funding from the European Union’s Horizon 2020 Research and Innovation programme under grant agreement no. 674943.' %}
                </p> 
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>


<!-- bootstrap -->
<script src="{% static 'start/assets/js/popper.js' %}"></script>
<script src="{% static 'start/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'start/assets/js/waypoints.min.js' %}"></script>
<!-- Owl Carousel js -->
<script src="{% static 'start/assets/js/owl.carousel.min.js' %}"></script>
<!-- Owl Carousel js -->
<script src="{% static 'start/assets/js/parallax.min.js' %}"></script>
<!-- Magnific-popup -->
<script src="{% static 'start/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Jquery easing -->
<script src="{% static 'start/assets/js/jquery.easing.1.3.min.js' %}"></script>
<!--Counter-->
<script src="{% static 'start/assets/js/jquery.counterup.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'start/assets/js/wow.min.js' %}"></script>
<!-- progress bar -->
<script src="{% static 'start/assets/js/bootstrap-progressbar.min.js' %}"></script>
<!-- Filterizr JS -->
<script src="{% static 'start/assets/js/jquery.filterizr.min.js' %}"></script>
<!-- youtube backround  JS -->
<script src="{% static 'start/assets/js/youtubebackground.js' %}"></script>
<!--particel JS -->
<script src="{% static 'start/assets/js/particles.min.js' %}"></script>
<script src="{% static 'start/assets/js/init-particles.js' %}"></script>
<!--typed js -->
<script src="{% static 'start/assets/js/typed.min.j' %}s"></script>



<!-- Custom js -->
<script src="{% static 'start/assets/js/main.js' %}"></script>
</body>