{% load static %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html lang="en">
{% include "start/includes/head.html" %} 

<body  data-spy="scroll" data-target="header">

{% include "start/includes/menu.html" with base_path="index" %}

<br/><br/><br/>
<section id="home" class="home bg-light">
    <div class="container">
        <h1>{{article.title}}</h1>
        
        {{article.shortdesc|safe}}
        <br/>
        {{article.content|safe}}        
        <br/>
        
    </div>
</section>

{% include "start/includes/footer.html" %} 

 
</body>
</html>