{% load static %}
{% load i18n %}
{% load l10n %}

<!DOCTYPE html>
<html lang="en">
{% include "start/includes/head.html" %} 

<body  data-spy="scroll" data-target="header">

{% include "start/includes/menu.html" with base_path="index" %}

<br/><br/><br/>
<section id="home" class="home bg-light">
    <div class="container">
        <h1>{{article.title}}</h1>
        
        {{article.shortdesc|safe}}
        <br/>
        {{article.content|safe}}        
        <br/>
        
    </div>
</section>
{% include "start/includes/footer.html" %} 

<script src="{% static 'start/assets/js/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'start/assets/js/popper.js' %}"></script>
<script src="{% static 'start/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'start/assets/js/waypoints.min.js' %}"></script>
<!-- Owl Carousel js -->
<script src="{% static 'start/assets/js/owl.carousel.min.js' %}"></script>
<!-- Owl Carousel js -->
<script src="{% static 'start/assets/js/parallax.min.js' %}"></script>
<!-- Magnific-popup -->
<script src="{% static 'start/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Jquery easing -->
<script src="{% static 'start/assets/js/jquery.easing.1.3.min.js' %}"></script>
<!--Counter-->
<script src="{% static 'start/assets/js/jquery.counterup.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'start/assets/js/wow.min.js' %}"></script>
<!-- progress bar -->
<script src="{% static 'start/assets/js/bootstrap-progressbar.min.js' %}"></script>
<!-- Filterizr JS -->
<script src="{% static 'start/assets/js/jquery.filterizr.min.js' %}"></script>
<!-- youtube backround  JS -->
<script src="{% static 'start/assets/js/youtubebackground.js' %}"></script>
<!--particel JS -->
<script src="{% static 'start/assets/js/particles.min.js' %}"></script>
<script src="{% static 'start/assets/js/init-particles.js' %}"></script>
<!--typed js -->
<script src="{% static 'start/assets/js/typed.min.j' %}s"></script>

<!-- Custom js -->
<script src="{% static 'start/assets/js/main.js' %}"></script>
 
</body>
</html>