{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block body_content %}

<!-- divs for modals.... -->
<div class="changed-jobs-modal"></div>

<nav class="navbar navbar-default subnav" id="ts-dashboard-nav">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ts-app-menu" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'index' %}">{% trans "My Collections" %}</a>
    </div>

    <div class="collapse navbar-collapse" id="ts-app-menu">
       <ul class="nav navbar-nav">
        <li>
        <li {%ifequal urlname "about" %}class="active"{%endifequal%}>
          <a href="{% url 'about' %}">{% trans "About" %}</a>
        </li>
        <li {%ifequal urlname "user_guide" %}class="active"{%endifequal%}>
          <a href="{% url 'user_guide' %}">{% trans "User Guide" %}</a>
        </li>
          <li {%ifequal appname "dashboard" %}class="active"{%endifequal%}>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard"%}</a>
          </li>
          <li {%ifequal appname "library" %}class="active"{%endifequal%}>
            <a href="{% url 'library:index' %}">{% trans "Browse" %}</a>
          </li>
          <li {%ifequal appname "search" %}class="active"{%endifequal%}>
            <a href="{% url 'search:index' %}">{% trans "Search" %}</a>
          </li>

{%comment%}
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
		{% trans "Ingest documents" %} <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
              <li><a href="{% url 'ingest_mets_xml' %}">{% trans "Upload METS XML file" %}</a></li>
              <li><a href="{% url 'ingest_mets_url' %}">{% trans "Enter URL to METS XML file" %}</a></li>
	    </ul>
	  </li>
	  <li>
		<div class="alert alert-info job-notification collapse" role="alert">
			<button type="button" class="close job-notification-close"  aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<strong>{% trans "Job status changed!" %}</strong>
			<a href="#" class="alert-link job-notification-close"  data-toggle="modal" data-target="#changedJobsModal">{% trans "Details." %}</a>
		</div>
	  </li>

{%endcomment%}
       </ul>
       <ul class="nav navbar-nav navbar-right">
	  {% include "navigation/nav_buttons.html" %}

{%comment%}
<!-- #TODO work out where set_language is relative to this....
        <li>
        {% get_current_language as LANGUAGE_CODE %}
        <form action="{% url 'set_language' %}" method="post" id="language_switcher" style="margin-top: 5px;">
          <input name="next" type="hidden" value="{{ request.path }}" />
          {% csrf_token %}
         {% bootstrap_form language_form %} 
          <span class="flag-icon flag-icon-{{LANGUAGE_CODE}}" style="position: relative; top: 3px;"></span>
        </form>
        </li>
-->
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	     <span class="flag-icon flag-icon-{{LANGUAGE_CODE}}" style="position: relative; top: 3px;"></span> <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	        <form action="{% url 'set_language' %}" method="post" id="language_switcher" style="margin-top: 5px;">
	          <input name="next" type="hidden" value="{{ request.path }}" />
        	  {% csrf_token %}
	          {% bootstrap_form language_form %} 
		</span>
	    </ul>
	  </li>
{%endcomment%}
         {% if user.is_authenticated %}
	  <li role="presentation" class="dropdown">
	    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
	     <span class="glyphicon glyphicon-user"></span> <span class="caret"></span>
	    </a>
	    <ul class="dropdown-menu">
	          <li>
        	    <a href="{% url 'logout' %}?next={{request.path}}">{% trans "Logout" %}</a>
	          </li>
	    </ul>
	  </li>
         {% else %}
          <li>
            <a href="{% url 'login' %}?next={{request.path}}">{% trans "Login" %}</a>
          </li>
          <li>
            <a href="{% url 'register' %}">{% trans "Register" %}</a>
          </li>
	 {% endif %}
      </ul>
    </div>  
  </div>
</nav>
		<div id="page-content-wrapper"><!-- Page Content -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						{% block content %}{% endblock %}
					</div>
				</div>
			</div>

{% endblock body_content %}
