.card-list {
    display: flex;
    flex-flow: row wrap;
}

.card-list-item {
    max-width: 240px;
    margin-right: 1.75em;
    margin-bottom: 1.75em;
}

.card-list-item-header {
    text-align: center;
}

.card-list-item .thumbnail {
    display: inline-block;
    width: auto;
    max-width: 80px;
    height: 120px;
    font-size: 0.875em;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: rgba(0, 0, 0, 0.05);
}
