{% extends 'sandbox/base.html' %}
{% load static %}
{% block styles %}
<style>
 body {
   background-color: #333;
 }

 body.win {
   background-color: #c8ff00;
 }

 body.fail {
   background-color: #fa023c;
 }
</style>
{% endblock %}
{% block content %}
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/lib/api.js"></script>
<script>
 window.addEventListener('load', function (evt) {

   API.getInstance().then(function (api) {
     api.checkSession().then(function (userData) {
       document.body.classList.add('win');
     }, function () {
       document.body.classList.add('fail');
     });
   });

 }, false);
</script>
{% endblock %}
