{% extends 'sandbox/base.html' %}
{% load static %}
{% load i18n %}
{% block body_class_list %}loading{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'sandbox' %}/css/loader.css" />
<style>
 html, body {
   height: 100%;
   overflow: hidden;
 }
</style>
{% endblock %}
{% block content %}
{% include 'sandbox/includes/loader.html' %}
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/ui/Loader.js"></script>
<script>
 window.onload = function (evt) {
   var loader = new Loader();

   var nTasks = 5;

   loader.set(nTasks);

   loader.show();

   setTimeout(function tick () {
     if (nTasks-- > 0) {
       loader.notify();
       setTimeout(tick, 250);
     }
   }, 50);

 };
</script>
{% endblock %}
