{% extends 'sandbox/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'sandbox' %}/css/login-dialog.css" />
<style>
 .list > .item > a {
    padding-right: 0.25em;
  }
</style>
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/lib/api.js"></script>
<script src="{% static 'sandbox' %}/js/ui/LoginDialog.js"></script>
<script>

 var WEB_TEST_COLL = 2305;

 var WEB_URL = 'https://transkribus.eu/read/view/';

 function getViewUrl (colId, docId) {
   return '?' + 'colId=' + colId + '&' + 'docId=' + docId;
   // return WEB_URL + [colId, docId].join('/');
 }

 var itemList = [];
 var nodeList = [];

 window.onload = function () {

   var colId = getQueryParam('colId', parseInt) || WEB_TEST_COLL;
   var docId = getQueryParam('docId', parseInt);

   LoginDialog.getInstance().then(function (loginDialog) {
     loginDialog.login().then(function () {
       API.getInstance().then(function (api) {
         if (docId === null) {
           api.getDocList(colId).then(function (docList) {
             renderCollection(colId, docList);
           });
         }
         else {
           initializeDocumentManager(colId, docId);
         }
       });
     });
   });
 };

 function initializeDocumentManager (colId, docId) {

   console.debug("initializeDocumentManager");

   return API.getInstance().then(function (api) {
     return api.getDocById(colId, docId, 1).then(function (docData) {
       var rootNode = document.querySelector('.js-list');
       rootNode.innerHTML = '';
       rootNode.appendChild(renderDocument(colId, docId, docData.md, docData.pageList.pages, getViewUrl, true));
     });
   });
 }

 function renderCollection (colId, docList) {

   var rootNode = document.querySelector('.js-list');

   var itemTmpl = document.createElement('li');
   itemTmpl.classList.add('item', 'js-item');

   for (var index = 0; index < docList.length; index++) {
     var itemNode = itemTmpl.cloneNode(true);
     var docData = docList[index];
     itemNode.appendChild(renderDocument(colId, docData.docId, docData, getPageList(1, docData.nrOfPages), getViewUrl));
     rootNode.appendChild(itemNode);
   }
 }

 function renderDocument (colId, docId, data, pageList, getViewUrl, withStatus) {

   var node = document.createElement('div');
   var titleNode = document.createElement('h2');
   titleNode.textContent = data.title;
   titleNode.classList.add('title', 'js-title');

   var linkNode = document.createElement('a');
   linkNode.setAttribute('href', getViewUrl(colId, docId));
   linkNode.textContent = docId;

   titleNode.appendChild(document.createTextNode(' ('));
   titleNode.appendChild(linkNode);
   titleNode.appendChild(document.createTextNode(')'));

   node.appendChild(titleNode);

   if (withStatus === true) {
     node.appendChild(renderMenu());
   }

   node.appendChild(renderPageList(colId, docId, pageList));

   return node;
 }

 function renderMenu (colId, docId, pageId) {

   /* NOTE: in terms of implementation this is a complete basket case */

   var formNode = document.createElement('form');
   formNode.classList.add('menu');

   formNode.appendChild(document.createTextNode("FINAL: "));

   var buttonNode = document.createElement('button');
   buttonNode.setAttribute('value', 'select');
   buttonNode.textContent = 'select';
   formNode.appendChild(buttonNode);
   buttonNode.addEventListener('click', handleClick, false);

   buttonNode = document.createElement('button');
   buttonNode.setAttribute('value', 'unselect');
   buttonNode.textContent = 'unselect';
   formNode.appendChild(buttonNode);
   buttonNode.addEventListener('click', handleClick, false);

   buttonNode = document.createElement('button');
   buttonNode.setAttribute('value', 'save');
   buttonNode.textContent = 'save';
   formNode.appendChild(buttonNode);
   buttonNode.addEventListener('click', handleClick, false);

   return formNode;

   function handleClick (evt) {

     evt.preventDefault();

     var statusList = Array.from(document.querySelectorAll('.js-status'));

     if (evt.target.value === 'save') {

       var colId = null;
       var docId = null;

       var promiseList = statusList.map(function (node) {

         var index = nodeList.indexOf(node);
         console.assert(index >= 0)
         var item = itemList[index];
         console.assert(item !== undefined);

         colId = item.colId;
         docId = item.docId;

         var status = node.checked === true ? 'FINAL' : 'DONE';

         /* FIXTHIS: update changed pages only ... */
         return API.getInstance().then(function (api) {
           return api.updatePageStatus(item.colId, item.docId, item.pageNr, item.tsId, status);
         });
       });

       Promise.all(promiseList).then(function () {
         var update = initializeDocumentManager(colId, docId);
       }).then(function () {
         alert("Done!");
       }).catch(function (e) { console.error(e); })
     }
     else {
       statusList.forEach(function (node) {
         if (evt.target.value === 'select' && node.checked !== true) {
           node.checked = true;
         }
         else if (evt.target.value === 'unselect') {
           node.checked = false;
         }
       });
     }
   }

 }

 function getPageList (startIndex, length) {
   var r = [];
   for (var index = 0; index < length; index++) {
     r.push({pageNr: index + 1});
   }
   return r;
 }

 function renderPageList (colId, docId, pageList) {

   var rootNode = document.createElement('ul');
   rootNode.classList.add('list');

   var node;
   var href;
   var pageNr;

   for (var index = 0; index < pageList.length; index++) {

     var data = pageList[index];

     pageNr = data.pageNr;

     node = document.createElement('li');

     node.appendChild(document.createTextNode('Page ' + data.pageNr + ': '));

     node.classList.add('item', 'js-item');
     href = '/' + ['sandbox', 'l', colId, docId, data.pageNr].join('/') + '/';
     node.appendChild(renderLink(href, 'layout'));

     href = '/' + ['sandbox', 'r', colId, docId, pageNr].join('/') + '/';
     node.appendChild(renderLink(href, 'review'));

     var ts = getMostRecentTranscript(data);
     if (ts !== null) {

       var statusNode = document.createElement('input');

       statusNode.setAttribute('type', 'checkbox');

       if (ts.status === 'FINAL')
         statusNode.checked = true;

       statusNode.setAttribute('id', ts.tsId);

       statusNode.classList.add('js-status');

       node.appendChild(statusNode);

       itemList.push({
         colId: colId, 
         docId: docId, 
         pageNr: pageNr,
         tsId: ts.tsId
       });

       nodeList.push(statusNode);

     }

     rootNode.appendChild(node);

   }

   return rootNode;

   function getMostRecentTranscript (data) {
     if (data.tsList !== undefined)
       if (data.tsList.transcripts instanceof Array)
         if (data.tsList.transcripts.length > 0)
           return data.tsList.transcripts[data.tsList.transcripts.length - 1];
     return null;
   }

 }

 function renderLink (href, text) {
   var node = document.createElement('a');
   node.setAttribute('href', href);
   node.setAttribute('target', '_blank');
   node.textContent = text;
   return node
 }

</script>
{% endblock %}
{% block content %}
{% include 'sandbox/includes/login-dialog.html' %}
<h1>Manager</h1>
<ul class="list js-list">
</ul>
{% endblock %}
