{% extends 'sandbox/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'sandbox' %}/css/reset.css" />
<link rel="stylesheet" href="{% static 'sandbox' %}/css/text-editor--plain.css" />
<style>

 body {
   background-color: #333;
 }

 .container {
   display: flex;
   flex-flow: column nowrap;

   margin: 0 auto;
   width: 480px;
   height: 480px;

   overflow: auto;

   background-color: white;
 }

 .item--editor {
   flex: 1;
 }

 .item--editor {
   // overflow: auto;
 }

 .toolbar {
   position: sticky;
   top: 0;
   left: 0;
 }

</style>
{% endblock %}
{% block content %}
<div class="container">
  <aside class="item item--tools">
    <button class="js-load">load a real document</button>
    <button class="js-highlight">test: highlight</button>
    <button class="js-scroll">test: scrollIntoView</button>
    <button class="js-insert">test: insertText</button>
  </aside>
  <div class="item item--editor">
    {% include 'sandbox/includes/text-editor--plain.html' %}
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/ui/PlainTextEditor.js"></script>
<script>

 window.onload = function (evt) {
   var editor = new PlainTextEditor(function (evt) {
     console.log('line changed!', evt);
   });

   editor.update([
     "These lines will not be shown",
     "unless there is something wrong",
     "with how this editor works.",
     "Let's see ..."
   ]);

   editor.render();

   editor.update([
     "This is the first line.",
     "Yet another line.",
     "The third line is this."
   ]);
   editor.render();

   var textLineCount = 3;

   // editor.focus();

   editor.select(1);

   var URL = '{% static 'sandbox' %}/data/pageWithTags.xml';
   document.querySelector('.js-load').onclick = function (evt) {
     evt.preventDefault();
     getXML(URL).then(function (doc) {
       var lines = Array.from(doc.querySelectorAll('TextRegion > TextLine'));
       var textLineList = lines.map(function (line) {
         return line.querySelector('Unicode').textContent;
       });

       editor.update(textLineList);
       editor.render();

       textLineCount = textLineList.length;
     });
   };

   document.querySelector('.js-highlight').onclick = function (evt) {
     evt.preventDefault();
     var index = Math.floor(Math.random() * textLineCount);
     editor.highlight(index);
     editor.scrollIntoView(index);
   };
   
   document.querySelector('.js-scroll').onclick = function (evt) {
     evt.preventDefault();
     var index = Math.floor(Math.random() * textLineCount);
     editor.scrollIntoView(index);
   };

   document.querySelector('.js-insert').onclick = function (evt) {
     evt.preventDefault();
     editor.insertText('XXX');
   };

 };

</script>
{% endblock %}
