{% extends 'sandbox/base.html' %}
{% load static %}
{% block styles %}
<style>
 body {
   padding: 2em;
   text-align: center;
   font-family: sans-serif;
 }

 .fail:after {
   vertical-align: middle;
   display: inline;
   color: rgba(255, 0, 0, 0.75);
   content: " (Not Working Correctly)"; 
   font-size: 16px;
 }

 textarea, [contenteditable] {
   display: inline-block;

   width: 320px;
   height: 120px;

   padding: 1em;

   font-family: sans-serif;

   outline: 0;
   resize: none;

   border: 1px solid rgba(0, 0, 0, 0.25);
   background-color: rgba(0, 0, 255, 0.05);

 }

 textarea:focus,
 [contenteditable]:focus {
   box-shadow: 0 0 8px rgba(0, 0, 255, 0.25);
 }

 dl {
   display: inline-block;
   list-style: none;
   padding: 0;

   text-align: left;

 }

 dt {
   padding: 1em;
   text-align: center;
   font-size: 1.75em;
 }

 dd {
   padding: 1em;
 }

 .align-right {
   text-align: right;
 }

 bdi {
   background-color: rgba(0, 0, 0, 0.1);
   unicode-bidi: isolate;
 }

 [contenteditable].css {
   unicode-bidi: bidi-override;
   direction: rtl;
 }

 #example-2 {
   text-align: right;
 }

</style>
{% endblock %}
{% block body_class_list %}border{% endblock body_class_list %}
{% block content %}
<dl>
  <dt>Example 1</dt>
  <dd><textarea dir="rtl"></textarea></dd>
  <dt>Example 2</dt>
  <dd><div id="example-2" dir="rtl" contenteditable></div></dd>
  <dt class="fail">Example 3</dt>
  <dd><div "dir="auto" contenteditable></div></dd>
  <dt class="fail">Example 4</dt>
  <dd><div dir="ltr" contenteditable></div></dd>
  <dt class="fail">Example 5</dt>
  <dd><div class=css" contenteditable></div></dd>
  <dt class="fail">Example 6</dt>
  <dd>
    <div class="js-bidi">
      <form class="align-right">
        <button>bdi</button>
      </form>
      <div contenteditable>
        This text goes one way. <bdi>this text goes the other way</bdi>. And this is the same as before.
      </div>
    </div>
  </dd>
</dl>
</section>
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/render.js"></script>
<script>
 window.onload = function (evt) {

   var bidi = document.querySelector('.js-bidi');
   var button = example.querySelector('button');

   bidi.addEventListener('click', function (evt) {

     evt.preventDefault();

     var s = document.getSelection();
     var r = s.getRangeAt(0);

     if (!example.contains(s.anchorNode))
       return;

     var bdi = document.createElement('bdi');
     bdi.textContent = ' ';

     r.insertNode(bdi);

     s.collapse(bdi.firstChild, 0);

   }, false);
 };
</script>
{% endblock %}
