{% extends 'sandbox/base.html' %}
{% load static %}
{% block content %}
<style>

 * {
   // box-sizing: border-box;
 }

 body {
   font-family: sans-serif;
 }

 div {
   margin-top: 1em;
   outline: none;
 }

 span, abbr {
   // display: inline-block;
 }

 span.person,
 span.place,
 abbr {
   cursor: pointer;
   color: rgba(0, 0, 0, 0.85);
   padding: 4px;
   padding-left: 0;
   border-radius: 4px;
   border: 1px solid rgba(0, 0, 0, 0.15);
 }

 .large span.person,
 .large span.place,
 .large abbr {
   padding: 8px;
 }

 span.person,
 span.place,
 abbr,
 .person:before,
 .place:before,
 abbr:before {}

 .person:before,
 .place:before,
 abbr:before {
   display: inline;
 }

 .person:before,
 .place:before,
 abbr:before {
   margin-right: 4px;
   color: rgba(0, 0, 0, 0.75);
   padding: 4px;
   border: none;
   border-right: 1px solid rgba(0, 0, 0, 0.15);
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   background-color: rgba(0, 0, 0, 0.25);
 }

 .large .person:before,
 .large .place:before,
 .large abbr:before {
   padding: 8px;
 }

 .person {
   background-color: rgba(0, 0, 255, 0.25);
 }

 .place {
   background-color: rgba(0, 255, 0, 0.25);
 }

 abbr {
   background-color: rgba(255, 0, 0, 0.25);
 }

 span.person:hover {
   background-color: rgba(0, 0, 255, 0.4);
 }

 span.place:hover {
   background-color: rgba(0, 255, 0, 0.4);
 }

 abbr:hover {
   background-color: rgba(255, 0, 0, 0.4);
 }

 .person:before {
   content: '\1f464';
 }

 .place:before {
   content: '\1f3e0';
 }
 abbr:before {
   content: '\00b7';
 }

 span.person:hover,
 span.place:hover,
 abbr:hover {
   border: 1px solid rgba(0, 0, 0, 0.25) !important;
 }

 abbr {
   border-bottom: none !important;
   cursor: inherit !important;
   text-decoration: none !important;
 }

 div.large {
   line-height: 3em;
 }

 div {
   line-height: 1.75em;
 }

 span.person,
 span.place,
 abbr {
   position: relative;
   padding-left: 28px;
 }

 .person:before,
 .place:before,
 abbr:before {
   position: absolute;
   padding: 0;
   margin: 0;
   top: 0;
   left: 0;
   bottom: 0;
   text-align: center;
   width: 24px;
   display: block;
 }

</style>

<aside>
  <form>
    <button name="name" value="person">person</button>
    <button name="name" value="place">place</button>
    <button name="name" value="abbr">abbreviation</button>
    &nbsp;
    <button name="name" value="bold">bold</button>
    <button name="name" value="italic">italic</button>
    <button name="name" value="underline">underline</button>
    &nbsp;
    <button name="name" value="clear">clear</button>
  </form>
</aside>

<div spellcheck="false">
  <span class="person">Sontag</span> promotes the use of cultural feminism in <span class="place">Baltimore</span> to attack and read class. Thus,<br>
  the premise of <abbr>postm.</abbr> realism states that <abbr>narr.</abbr> comes from communication, but only<br>
  if <span class="person">Derrida’s</span> essay on <span class="person">Lyotardist</span> narrative is valid; otherwise, we can assume<br>
  that language is impossible.<br>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/lib/builders.js"></script>
<script src="{% static 'sandbox' %}/js/lib/render.js"></script>
<script src="{% static 'sandbox' %}/js/PageContent.js"></script>
<script src="{% static 'sandbox' %}/js/test.js"></script>
<script type="text/javascript">
 var node  = document.querySelector('div');
 node.addEventListener('click', function (evt) {
   node.setAttribute('contenteditable', '');
   evt.preventDefault();
   evt.stopPropagation();
 }, false);

 var nodes = {
   person: function () {
     var n = document.createElement('span');
     n.classList.add('person');
     return n;
   },
   place: function () {
     var n = document.createElement('span');
     n.classList.add('place');
     return n;
   },
   abbr: function () {
     return document.createElement('abbr');
   },
   bold: function () {
     return document.createElement('b');
   },
   italic: function () {
     return document.createElement('i');
   },
   underline: function () {
     return document.createElement('u');
   }
 };

 node.addEventListener('keydown', function (evt) {
   if (!evt.metaKey && !evt.ctrlKey && evt.key === 'Enter') {
     evt.preventDefault();
     document.execCommand('insertHTML', false, '<br>');
   }
 }, false);

 document.execCommand('insertBrOnReturn');

 Array.from(document.querySelectorAll('button')).forEach(function (node) {

   node.addEventListener('click', function (evt) {

     evt.preventDefault();
     if (evt.cancelable)
       evt.stopPropagation();


     if (evt.target.value === 'clear') {
       // firefox thinks spans are format, chrome does not consider spans formats; */

       document.execCommand('insertHTML', false, getSelectedText());
       // document.execCommand('removeFormat', false, '');
     }

     else {

       // FEFF: ZERO WIDTH NO-BREAK SPACE

       var textContent = getSelectedText();

       var create = nodes[evt.target.value];
       var node = create();

       if (textContent === '')
         // summon the power of FEFF so span can be selected
         node.innerHTML = '&#xfeff;';
       else
         node.textContent = getSelection();

       // FEFF to the rescue so you chrome let's you position cursor after span
       document.execCommand('insertHTML', false, '&#xfeff;' + node.outerHTML + '&#xfeff;');

       // FIXME: set cursor to inside newly added tag unless it's something weird like a vertical separator, e.g. gap

     }

   }, false)

 });

 function getSelectedText () {
   var s = window.getSelection();
   if (s.focusOffset === s.anchorOffset)
     return '';

   var r = s.getRangeAt(0);

   return r.toString();

 }

</script>
{% endblock %}
