{% extends 'sandbox/base.html' %}
{% load static %}
{% block body_class_list %}loading{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'sandbox' %}/css/reset.css" />
<link rel="stylesheet" href="{% static 'sandbox' %}/css/image-viewer--svg.css" />
<link rel="stylesheet" href="{% static 'sandbox' %}/css/zoomable.css" />
<style>
 html, body {
   height: 100%;
   overflow: hidden;
 }

 .debug {
   position: fixed;
   left: 50%;
   bottom: 0;
   min-width: 320px;
   font-size: 0.875em;
   text-align: center;
   background-color: white;
   transform: translate(-50%, 0);
 }

 .canvas {
   width: 100%;
 }

 .image {
   position: relative;
 }

 .object {
   position: absolute;
   background-color: purple;
   z-index: 1;
 }

 .actions {
   position: fixed;
   right: 0;
   top: 0;

   z-index: 2;
 }
</style>
{% endblock %}
{% block content %}
<main class="image-viewer scrollable js-scrollable js-draggable">
  <div class="viewport zoomable js-svg js-zoomable">
    <div class="image js-image">
      <img class="canvas" src="https://placehold.it/5120x2880">
    </div>
  </div>
</main>
<form class="actions"
  <button name="zoom" value="reset" class="js-reset">reset</button>
  <button name="zoom" value="in" class="in">in</button>
  <button name="zoom" value="out" class="out">out</button>
</form>
{% endblock %}
{% block scripts %}
<script src="{% static 'sandbox' %}/js/lib/utils.js"></script>
<script src="{% static 'sandbox' %}/js/ui/Zoomable.js"></script>
<script>
 window.onload = function (evt) {

   var formNode = document.querySelector('form');
   formNode.addEventListener('click', function (evt) {

     if (evt.target.nodeName !== 'BUTTON')
       return;

     evt.preventDefault();

     switch (evt.target.value) {
       case 'reset':
         zoomable.zoom(Zoomable.RESET);
         break;
       case 'in':
         zoomable.zoom(Zoomable.IN);
         break;
       case 'out':
         zoomable.zoom(Zoomable.OUT);
         break;
       default:
         throw new Error("Invalid value " + evt.target.value);
     }

   }, false);

   var imageWidth = 5120;
   var imageHeight = 2880;

   var scrollNode = document.querySelector('.js-scrollable');
   var zoomable = new Zoomable(scrollNode, imageWidth, imageHeight);

   var rectList = [];
   initRects();

   document.body.classList.remove('loading');

   // zoomable.zoom(1);
   // zoomable.zoomIntoView({x: 0, y: 0, width: 100, height: 100});

   function initRects () {

     var imageNode = document.querySelector('.js-image');
     var tmpl = document.createElement('div');
     tmpl.classList.add('object');

     var stack = [
       {
         x: '0',
         y: '0',
         width: '10%',
         height: '10%'
       },
       {
         x: '50%',
         y: '0',
         width: '10%',
         height: '10%'
       },
       {
         x: '10%',
         y: '5%',
         width: '10%',
         height: '5%'
       },
       {
         x: '50%',
         y: '25%',
         width: '16%',
         height: '9%'
       },
       {
         x: '90%',
         y: '5%',
         width: '5%',
         height: '5%'
       },
       {
         x: '95%',
         y: '95%',
         width: '5%',
         height: '5%'
       },
       {
         x: '90%',
         y: '90%',
         width: '5%',
         height: '5%'
       }
     ];

     while (stack.length > 0) {

       var rect = stack.pop();
       var node = drawRect(rect.x, rect.y, rect.width, rect.height);

       node.addEventListener('click', function (evt) {
         var rect = findRect(evt.currentTarget);
         zoomable.zoomIntoView(rect);
       }, false);

       rectList.push({
         node: node,
         rect: convertRect(rect)
       });
     }

     function drawRect (x, y, width, height) {

       var node = tmpl.cloneNode();

       node.style.width = width;
       node.style.height = height;
       node.style.left = x;
       node.style.top = y;

       return imageNode.appendChild(node);

     } 

     function findRect (node) {
       for (var index = 0; index < rectList.length; index++) {
         if (node === rectList[index].node)
           return rectList[index].rect;
       }
       return null
     }

     function convertRect (rect) {
       return {
         x: Math.round(imageWidth * parseInt(rect.x) / 100),
         y: Math.round(imageHeight * parseInt(rect.y) / 100),
         width: Math.round(imageWidth * parseInt(rect.width) / 100),
         height: Math.round(imageHeight * parseInt(rect.height) / 100)
       };
     }

   }

 }

</script>
{% endblock %}
