.portfolio_box_one{
  position: relative;
  cursor: pointer;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @include single-transition(all , 400ms , ease-in-out);
  img{
    display: block;
    width: 100%;
    height: 100%;
    @include single-transition(all , 400ms , ease-in-out);
  }
  .product_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
    @include single-transition(all , 400ms , ease-in-out);

    .product_info_text{
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%;
      position: relative;

      .product_info_text_inner{
        display: table-cell;
        vertical-align: bottom;
        h5{
          color: $color_light;
          font-size: 16px;
          text-transform: capitalize;
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
          @include single-transition(all , 400ms , ease-in-out);
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
          opacity: 0;
          margin: 0;
        }
        p{
          color: $color_gray;
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
          @include single-transition(all , 400ms , ease-in-out);
          -webkit-transition-delay: .4s;
          transition-delay: .4s;
          opacity: 0;
        }
      }
    }
  }
  &:hover{
    img{
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari */
      transform: scale(1.1); /* Standard syntax */
      @include single-transition(all , 400ms , ease-in-out);
    }
    .product_info{
      opacity: 1;
      .product_info_text_inner{
        h5{
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
        p{
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}
.portfolio_box_two{
  position: relative;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  @include single-transition(all , 400ms , ease-in-out);
  img{
    display: block;
    width: 100%;
    height: 100%;
    @include single-transition(all , 400ms , ease-in-out);
  }
  .product_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 30px 40px;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 0;
    @include single-transition(all , 400ms , ease-in-out);

    .product_info_text{
      display: table;
      table-layout: fixed;
      height: 100%;
      width: 100%;
      border-radius: 5px;
      position: relative;
      background-color: rgba(248, 249, 250, 0.85);
      text-align: center;
      .product_info_text_inner{
        display: table-cell;
        vertical-align: middle;
        h5{
          color: $color-primary;
          font-size: 16px;
          text-transform: capitalize;
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
          @include single-transition(all , 400ms , ease-in-out);
          -webkit-transition-delay: .2s;
          transition-delay: .2s;
          opacity: 0;
          margin: 0;
        }
        p{
          color: $color-dark;
          -webkit-transform: translateX(-30px);
          transform: translateX(-30px);
          @include single-transition(all , 400ms , ease-in-out);
          -webkit-transition-delay: .4s;
          transition-delay: .4s;
          opacity: 0;
        }
      }
    }
  }
  &:hover{
    img{
      -ms-transform: scale(1.1); /* IE 9 */
      -webkit-transform: scale(1.1); /* Safari */
      transform: scale(1.1); /* Standard syntax */
      @include single-transition(all , 400ms , ease-in-out);
    }
    .product_info{
      opacity: 1;
      .product_info_text_inner{
        h5{
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
        p{
          -webkit-transform: translateX(0);
          transform: translateX(0);
          opacity: 1;
        }
      }
    }
  }
}
