.blog_box_one{
  position: relative;
  border-radius: 4px;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
  border: solid 1px #f1f1f1;
  @include single-transition(all, .3s, ease-in-out);
  .blog_box_img{
  display: block;
  height: 225px;
    overflow: hidden;
    img{
      width: 100%;
      max-width: 100%;
      border-top-right-radius: 4px;
      border-top-left-radius: 4px;
      @include single-transition(all, .3s, ease-in-out);
    }
  }
  .blog_box_body{
    padding: 5px 15px ;
    position: relative;
    h4{
      font-size: 16px;
    }
    span{
      display: block;
      width: 100%;
      padding: 10px 0;
      color: #333333;
      font-size: 13px;
    }
    a{
      color: #000000;
      font-size: 14px;
      margin-bottom: 10px;
      display: block;
      font-weight: 500;
      &:hover{
        color: $color-primary;
      }
    }
  }
  .blog_box_footer{
    position: relative;
    a{
      color: #0e97ff;
      font-size: 14px;
      margin-top: 10px;
      padding: 0 15px 15px;
      display: block;
    }
  }
  &:hover{
    @include single-transition(all, .3s, ease-in-out);
    box-shadow:  0 0 42px rgba(0, 0, 0, 0.08);
    .blog_box_img img{
      transform: scale(1.05);
      -ms-transform: scale(1.05);
      -webkit-transform: scale(1.05);
      @include single-transition(all, .3s, ease-in-out);
    }
  }
}

.blog_carousel .item{
  padding: 15px;
}