
.icon-lg{
  font-size: 64px !important;
}
.icon-md{
  font-size: 32px !important;
}
.icon-sm{
  font-size: 16px !important;
}


.icon_box_one{
  padding: 25px;
  i{
    font-size: 32px;
  }
  h5{
    margin-top: 15px;
    font-size: 16px;
    text-transform: capitalize;
  }
  p{
    font-size: 13px;
  }
}

.icon_box_two{
  margin-top: 30px;
  padding: 75px 25px;
  background-color: #ffffff;
  border-radius: 3px;
  @include box-shadow(0 ,0 ,42px,0,rgba(0,0,0,0.08));
  @include single-transition(all,0.3s, ease-in-out);
  i{
    font-size: 56px;
    color: $color-primary;
  }
  h5{
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  a{
    text-transform: capitalize;
    font-size: 14px;
    color: #000;
    &:hover{
      color: $color-primary;
    }
  }
  &:hover{
    @include box-shadow(0 ,0 ,1px,0,rgba(0,0,0,0.08));
    @include single-transition(all,0.3s, ease-in-out);
  }
}

.icon_box_three{
  padding: 10px 0;
  margin: 25px 0;
  cursor: pointer;
  @include single-transition(all,0.3s, ease-in-out);
  i{
    float: left;
    font-size: 46px;
    width: 80px;
    text-align: center;
    color: $color-dark;
  }
  .content{
    text-align: left;
    margin-left: 90px;
    h5{
      color: $color-primary;
      font-size: 14px;
      margin-bottom: 5px;
      text-transform: uppercase;
    }
  }
}

.icon_box_four{
  padding: 75px 50px;
  i{
    font-size: 46px;
  }
  h5{
    margin-top: 15px;
    font-size: 16px;
    text-transform: capitalize;
  }
  p{
    font-size: 13px;
  }
}

.img_box_one{
  margin-top: 30px;
  padding: 75px 25px;
  background-color: #ffffff;
  border-radius: 3px;
  border: solid 1px rgba(0, 0, 0, 0.08);
  @include single-transition(all,0.3s, ease-in-out);
  img{
    max-width:120px;
    margin: 0 auto;
    margin-bottom: 10px;
  }
  h5{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  a{
    text-transform: capitalize;
    font-size: 14px;

    color: $color-primary;
    &:hover{
      color: #000;
    }
  }
  &:hover{
    @include single-transition(all,0.3s, ease-in-out);
  }
}

.img_box_two{
  margin-top: 30px;
  padding: 75px 25px;
  background-color: #ffffff;
  border-radius: 3px;
  @include box-shadow(0 ,0 ,42px,0,rgba(0,0,0,0.08));
  @include single-transition(all,0.3s, ease-in-out);
  img{
    max-width:120px;
    margin: 0 auto 10px;
  }
  h5{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  a{
    text-transform: capitalize;
    font-size: 14px;

    color: $color-primary;
    &:hover{
      color: #000;
    }
  }
  &:hover{
    @include box-shadow(0 ,0 ,1px,0,rgba(0,0,0,0.08));
    @include single-transition(all,0.3s, ease-in-out);
  }
}

.img_box_three{
  text-align: left;
  padding: 25px;
  background-color: #ffffff;
  border: solid 1px #f7f7f7;
  margin: 15px 0;
  img{
    float: left;
    max-width: 65px;
    margin-right: 10px;
  }
  .content{
    margin-left: 80px;
    h5{
      font-size: 16px;
    }
    a{
      text-transform: capitalize;
      color: $color-primary;
      font-size: 14px;
      opacity: 0.8;
      &:hover{
        opacity: 1;
      }
    }
  }
}


.img_box_four{
  padding: 10px;
  border-radius: 4px;
  img{
    border-radius: 4px;
  }
  h5{
    margin-top: 15px;
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 5px;
  }
  p{
    color: #333;
  }
  a{
    text-transform: capitalize;
    font-weight: 600;
    color: #0652fd;
    &:hover{
      color: #000;
    }
  }
}

.img_box_five{
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 50px;
  display: block;
  img{
    border-radius: 4px;
    box-shadow: 0 0 42px rgba(0, 0, 0, 0.18);
    @include single-transition(all , ease-in-out , 0.3s);
  }
  h5{
    text-transform: capitalize;
    font-weight: 600;
    color: #0652fd;
    margin-top: 25px;
    display: block;
    text-align: center;
    font-size: 14px;
  }
  &:hover{
    img{
      border-radius: 4px;
      box-shadow: 0 0 42px rgba(0, 0, 0, 0.0);
      @include single-transition(all , ease-in-out , 0.3s);
    }
    h5{
      color: #000;
    }
  }
}
@media(max-width: 768px){

}
