{% load static %}
{% load i18n %}

<footer class="footer_four footer_dark">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12 text-center-xs">
                <ul class="list-inline">
                    <li class="nav-item">
                        <a class="nav-link active" href="#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#about">about</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#services">services</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link " href="#blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#contact">contact us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10 col-12 text-center-xs">
                <p>
                    © {% trans 'Copyright 2018 DEA - All Rights Reserved' %}
                </p>
                <p>
                    <img class="eu_logo" src="{% static 'start/img/jaune.jpeg' %}"/>
                    {% trans 'Transkribus is part of the READ project and has received funding from the European Union’s Horizon 2020 Research and Innovation programme under grant agreement no. 674943.' %}
                </p> 
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</footer>

<script src="{% static 'start/assets/js/jquery.min.js' %}"></script>
<!-- bootstrap -->
<script src="{% static 'start/assets/js/popper.js' %}"></script>
<script src="{% static 'start/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'start/assets/js/waypoints.min.js' %}"></script>
<!-- Owl Carousel js -->
<script src="{% static 'start/assets/js/owl.carousel.min.js' %}"></script>
<!-- Owl Carousel js -->
<script src="{% static 'start/assets/js/parallax.min.js' %}"></script>
<!-- Magnific-popup -->
<script src="{% static 'start/assets/js/jquery.magnific-popup.min.js' %}"></script>
<!-- Jquery easing -->
<script src="{% static 'start/assets/js/jquery.easing.1.3.min.js' %}"></script>
<!--Counter-->
<script src="{% static 'start/assets/js/jquery.counterup.min.js' %}"></script>
<!-- WOW JS -->
<script src="{% static 'start/assets/js/wow.min.js' %}"></script>
<!-- progress bar -->
<script src="{% static 'start/assets/js/bootstrap-progressbar.min.js' %}"></script>
<!-- Filterizr JS -->
<script src="{% static 'start/assets/js/jquery.filterizr.min.js' %}"></script>
<!-- youtube backround  JS -->
<script src="{% static 'start/assets/js/youtubebackground.js' %}"></script>
<!--particel JS -->
<script src="{% static 'start/assets/js/particles.min.js' %}"></script>
<script src="{% static 'start/assets/js/init-particles.js' %}"></script>
<!--typed js -->
<script src="{% static 'start/assets/js/typed.min.js' %}s"></script>

<script src="{% static 'start/js/jquery-ui.min.js' %}"></script>

<script src="{% static 'start/js/selectBoxIt.js' %}"></script>




