{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load l10n %}
{% static "" as baseUrl %}

<head>
 <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="TODO">
    <meta name="keywords" content="TODO">
    <meta name="authorcon" content="TODO">
    <meta name="viewport" content="initial-scale=1.0">
    <!-- ========== Title ========== -->
    <title>{% trans 'Transkribus' %}</title>
    
     <!-- Bootstrap CSS -->
    <link href="{% static 'start/assets/css/bootstrap.min.css' %}" rel="stylesheet" >
    <!-- Fonts Icon CSS -->
    <link href="{% static 'start/assets/css/font-awesome.min.css' %}" rel="stylesheet" >
    <link href="{% static 'start/assets/css/et-line.css' %}" rel="stylesheet" />
    <!-- Owl Carousel CSS -->
    <link href="{% static 'start/assets/css/owl.carousel.min.css' %}" rel="stylesheet" >
    <link href="{% static 'start/assets/css/owl.theme.default.min.css' %}" rel="stylesheet" >
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="{% static 'start/assets/css/magnific-popup.css' %}" >
    <!-- Animate CSS -->
    <link rel="stylesheet" href="{% static 'start/assets/css/animate.min.css' %}" >
    <!-- Custom styles for this template -->
    <link href="{% static 'start/assets/css/main.css' %}" rel="stylesheet" > 

    
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <!-- Custom modifications -->
    
    <link href="{% static 'start/css/homepage.css' %}" rel="stylesheet" >
   
    <link href="{% static 'start/css/modal.css' %}" rel="stylesheet" > 
     
    <link rel="shortcut icon" href="{% static 'start/favicon.ico' %}" type="image/x-icon" />

</head>